.container {
    border: 1px solid #FA8FEF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    box-shadow: 0px -4px 10px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}